@font-face {
  font-family: 'Port Lligat Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Port Lligat Slab'), local('PortLligatSlab-Regular'), url(http://themes.googleusercontent.com/static/fonts/portlligatslab/v2/CUEdhRk7oC7up0p6t0g4P16rrg5BlGe82HimUg0Lq9Q.woff) format('woff');
}
