* { margin: 0; padding: 0; border: 0; font-family: sans-serif; font-size: 1em; font-weight: normal; font-style: normal; text-decoration: none; }
html { height:100%; }
body { background: url(http://public.dm1.livefilestore.com/y1p1auyU19_wTnw1dyvKtycXzwmjOrAM_BH_S7ErY-mtJUqtaNbYfyoWJqEqiD4cnSVAu6hNLe_7hD-YtPF0sH5Ew/abstract_0100.jpg?rdrts=29565722) ;
overflow: hidden; }
#place { position: relative; width: 3040px; height: 560px; margin: 0px; }
#wrapper1, #wrapper2, #wrapper3 { width: 960px; height: 480px; position: absolute; top: 80px; }
#wrapper1 { left: 0px; }
#wrapper2 { left: 1040px; }
#wrapper3 { left: 2080px; }
#name1, #name2, #name3 { font-family: Microsoft YaHei, Arial, Helvetica, sans-serif; font-size: 40px; color: #fff; position: absolute; top: 0px }
#name1 { left: 5px }
#name2 { left: 1045px }
#name3 { left: 2085px }
#net { position: absolute; top: 0px; right: 0px; margin: 0px !important; height: 60%; width: auto; cursor: pointer; }
#button1to2, #button2to1 { position: absolute; width: 30px; height: 30px; top: 85px; left: 985px; }
#button1to2 { background: url(img/arrow.png) no-repeat center center; }
#button2to1 { background: url(img/arrow-back.png) center center; display: none; }
#button2to3, #button3to2 { position: absolute; width: 30px; height: 30px; top: 85px; left: 2025px; }
#button2to3 { background: url(img/arrow.png) center center; display: none; }
#button3to2 { background: url(img/arrow-back.png) center center; display: none; }
#button1to2:hover, #button2to3:hover { cursor: pointer; background: url(img/arrow-hover.png) center center; }
#button2to1:hover, #button3to2:hover { cursor: pointer; background: url(img/arrow-back-hover.png) center center; }
form { width: 306px; height: 30px; position: absolute; right:5px; top: -45px; text-align: center; padding: 0px; margin: 0px; background: #fff; border: 2px #fff solid; }
input { width: 230px;/*568 povodne*/ height: 30px; background: #fff; padding: 0px; margin: 0px; color: #333; font-size: 16px; line-height: 30px; float:left; padding:0 5px; }
form:hover { border: 2px #00aef0 solid; outline: none; }
 input::-webkit-input-placeholder {
 color: #ccc;
 font-style:oblique;
}
input:-moz-placeholder {
 color: #ccc;
 font-style: oblique;
}
button { height: 30px; width: 30px;/*50 povodne*/ position: absolute; top: 0px; right: 3px; background: url(img/search.png) no-repeat center;/**/ }
button:hover { background: url(img/search-hover.png) no-repeat center; cursor: pointer; }
#search-engine { height: 30px; width: 30px; position: absolute; top: 0px; right: 33px; margin:0; }
#search-engine:hover { background: url(img/search-hover.png) center center no-repeat; cursor: pointer; border: 0px !important; box-shadow: 0px 0px 0px #fff !important; margin:0; }
#engines { width: 120px; height: 30px; position: absolute; top: 0px; right: 33px; display: none; margin:0; background: #FFF; }
#google { background: url(img/google.png) center center no-repeat; }
#google:hover { background: url(img/google-hover.png) center center no-repeat; }
#bing { background: url(img/bing.png) center center no-repeat; }
#bing:hover { background: url(img/bing-hover.png) center center no-repeat; }
#yahoo { background: url(img/yahoo.png) center center no-repeat; }
#yahoo:hover { background: url(img/yahoo-hover.png) center center no-repeat; }
#baidu { background: url(img/baidu.png) center center no-repeat; }
#baidu:hover { background: url(img/baidu-hover.png) center center no-repeat; }
#engines div:hover { border: 0px !important; box-shadow: 0px 0px 0px #fff !important; margin: 0px !important; cursor: pointer; }
#engines div { width: 30px; height: 30px; float:left; margin: 0px !important; padding: 0px !important; }
#wrapper1 div.site, #wrapper2 div.site, #wrapper3 div.site { margin: 5px; text-align: center;/*-moz-box-shadow:2px 2px 8px #333;
	-webkit-box-shadow:2px 2px 8px #333;
	box-shadow:2px 2px 8px #333;*/
}
#wrapper1 div a, #wrapper2 div a, #wrapper3 div a { display: block; width: 100%; height: 100%; }
.title { position: absolute; bottom: 10px; left: 5px; font-weight:bold; text-align: left !important; color: #fff; line-height: 100%; }
.title:hover { border: 0px !important; box-shadow: none !important; margin: 5px !important; }
#wrapper1 #thumb1-1 { width: 310px; height: 150px; position: absolute; left: 0px; top: 0px; line-height: 150px; }
#wrapper1 #thumb1-2 { width: 310px; height: 150px; position: absolute; left: 320px; top: 0px; }
#wrapper1 #thumb1-3 { width: 150px; height: 150px; position: absolute; left: 640px; top: 0px; }
#wrapper1 #thumb1-4 { width: 150px; height: 150px; position: absolute; left: 800px; top: 0px; }
#wrapper1 #thumb1-5 { width: 310px; height: 150px; position: absolute; left: 0px; top: 160px; }
#wrapper1 #thumb1-6 { width: 310px; height: 150px; position: absolute; left: 320px; top: 160px; }
#wrapper1 #thumb1-7 { width: 310px; height: 150px; position: absolute; left: 640px; top: 160px; line-height: 150px; }
#wrapper1 #thumb1-8 { width: 150px; height: 150px; position: absolute; left: 0px; top: 320px; }
#wrapper1 #thumb1-9 { width: 150px; height: 150px; position: absolute; left: 160px; top: 320px; }
#wrapper1 #thumb1-10 { width: 310px; height: 150px; position: absolute; left: 320px; top: 320px; }
#wrapper1 #thumb1-11 { width: 150px; height: 150px; position: absolute; left: 640px; top: 320px; }
#wrapper1 #thumb1-12 { width: 150px; height: 150px; position: absolute; left: 800px; top: 320px; }
/*22222222222222222222222222222222222222222222222222222222222222*/
